@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(97, 97, 97);
  font-family: "Fredoka", sans-serif;
}

.header {
  text-align: center;
  color: aliceblue;
  background-color: black;
  max-width: 80rem;
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem auto;
}

.comments-container {
  max-width: 80rem;
  margin: 3rem auto;
  font-size: 1.2rem;
}
.comment {
  margin-bottom: 1.5rem;
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 10px;
}
.action-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.like {
  color: rgb(243, 49, 130);
}
